results/
prepared_drive/
organized_dataset/
models/
train_images/

datasets/

*.mat
*.h5
*.hdf5
*.keras
*.pt
*.pth
*.ckpt
*.onnx

venv/
.venv/
env/

__pycache__/
*.pyc

.env
.env.*

node_modules/
.vscode/
.idea/
.ipynb_checkpoints/